@model Domain.Entities.Book

<div class="container marginTop">
    <div class="row">
        <div class="card">
            <div class="text-center view overlay hm-white-slight">
                <img src="@Model.Image" class="img-fluid" alt="">
                <a href="#">
                    <div class="mask waves-effect waves-light"></div>
                </a>
            </div>
            <div class="card-block">
                <h4 class="card-title">@Model.Title</h4>
                <p class="card-text">@Model.Description.</p>
                <p class="btn btn-group pull-right">
                    <a asp-controller="Home" asp-action="List" class="btn btn-default">Show all books</a>
                    <a class="btn btn-success" id="cartButton" asp-controller="ShoppingCart" 
                       asp-action="AddToShoppingCart" asp-route-bookId="@Model.BookId">
                        Add @Model.Title to cart
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>