@model Application.ViewModels.HomeVM.HomeIndexVM

@{
    ViewBag.Title = "Promocje";
}
<section class="promotion-wrapper">
    <div class="container">
        <div class="promotion__header">
            Kup książki z obniżką nawet o 50%
        </div>

        
        <div class="promotion__info row">
            @foreach (var promoBook in Model.Promotions)
            {
                <div class="promotion__info-block col-md-4">
                    <div class="promotion__info-block-img">
                        <img src="@promoBook.Image" alt="">
                    </div>
                    <div class="promotion__info-block-header">
                        Autor. Nazwa Książki @promoBook.Title
                    </div>
                    <div class="promotion__info-block-price">
                        <div class="promotion__info-block-price-discount row justify-content-end">
                            <div class="promotion__info-block-price-discount-before col-4">@promoBook.Price</div>
                            <div class="promotion__info-block-price-discount-value col-4">@promoBook.PriceAfterDiscount</div>
                            <div class="promotion__info-block-price col-4">@promoBook.Discount%</div>
                        </div>
                        <div class="promotion__info-block-price-actually"></div>
                    </div>

                    <a class="btn btn-success slider__button-cart mainBtn" id="cartButton" asp-controller="ShoppingCart" asp-action="AddToShoppingCart" asp-route-bookId="@promoBook.BookId">
                        Add to cart
                    </a>
                </div>

            }
            </div>

     

</section>